.p-portfolio {
    text-align: center;
    font-family: 'futura-pt', sans-serif;
    font-size: 40px;
    color:#00BC5E;
    margin-top: 50px;
    align-self: center;
}

.linjeportfolio {
    height: 4px;
    background:#00BC5E;
    color:#00BC5E;
    width: 14%;
    border-style: hidden;
    margin-top: -30px;
    margin-bottom: 20px;
}

.portfolioinnehall {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.portfoliodel {
    width: 270px;
    height: 350px;
    background-color:#00BC5E;
    border-style: solid;
    border-width: 4px;
    border-color:#00BC5E;
    margin: 30px;
    text-align: center;
}

.imgportfolio {
    height: 250px;
    width: 270px;
    object-fit: cover;
    object-position: 40% 5%;
    margin-bottom: 18px;
}

.vittext {
    font-family: 'futura-pt', sans-serif;
    font-size: 20px;
    color:#EDE9D9;
    width: 30%;
}